.container {
    max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

/************************************** 

Header Layout

**************************************/

.header__bleed {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    padding-right: 20px;
    padding-left: 20px;
}

.head__one {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 350px;
}

/************************************** 

Destinations Section

**************************************/

.destinations {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/**************************************  

How It Works Section

**************************************/

.hiw-flex{
    display: flex;
    flex-direction: column;
}

.guide{
    margin: 0 30px;
}

.guide__items {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/*************************************** 

Success Section

**************************************/

.success-sect {
    display: flex;
    max-width: 1100px;
    flex-direction: column;
    margin-top: 200px;
}

.success-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 300px;
    margin-bottom: 100px;
}

.sec-container{
    display: flex;
    flex-direction: column;
}

/************************************* 

Subscribe Section

*************************************/

.row__subscribe--color{
    background-color: #0098EF;
    color: white;
}

.subscribe__section{
    display: block;
    margin: 0 auto;
}

.subscribe__head{
    display: flex;
    flex-direction: column;
}

.subscribe__submission{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 150px;
    margin-top: 50px;
}

.subscribe__input--space{
    margin: 0 20px;
}

/****************************************** 

Footer Section

*******************************************/
.flex__footer{
    display: flex;
    flex-direction: column;
}

.footer__dev{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.about__section{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
}

.foot__navGroup{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright__items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*********************************

Rows

**********************************/

.row--color{
    color: #fff;
    background-color: #09C6AB;
    padding-bottom: 100px;
    text-align: center;
}


@media only screen and (max-width: 800px) {

    .head__one{
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .hero{
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    .guide__items{
        display: flex;
        flex-direction: column;
    }

    .success-wrapper{
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .success__text{
        width: 50%;
        text-align: center;
    }

    .subscribe__submission{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
    }

    .subscribe__input{
        margin-bottom: 30px;
    }

    .footer__dev{
        flex-direction: column;
    }

    .foot__navGroup{
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        text-align: center;
        /* margin-left: auto; */
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* text-align: center; */
    }
}

@media only screen and (min-width: 801px) and (max-width: 1099px) {

    .head__one {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex-card {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .success-wrapper{
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .success__text{
        width: 50%;
        text-align: center;
    }

    .about__section{
        align-items: center;
    }
    .footer__dev{
        flex-direction: column;
        align-items: center;
    }

    .foot__navGroup{
        margin: 50px 0;
    }

    .footer__nav{
        margin: 0 60px;
    }
}